*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    margin-left:25vw;
    margin-right:25vw;
    margin-top:10vh;
    margin-bottom:10vh;
    text-align:center;
}
.image img{
    width:100%;
    height:auto;
}
button{
    width:120px;
    height:50px;
    border:none;
    color:white;
    font-size:18px;
    background:linear-gradient(to right,orange,green);
    margin-top:10px;
}
button:hover{
    opacity:0.8;
    cursor:pointer;
}
